body {
  background-image: url(kepek/termeszet.jpg);
  background-repeat: no-repeat;
  background-color: lightgreen;
  background-size: 200%;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: white;
  font-size: 50px;
  border: 4px dashed darkgreen;
  border-radius: 40px;
  padding: 40px 60px;
  text-align: center;
  margin: 80px;
  margin-bottom: 0;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  background-color: rgb(180, 255, 180);
  border: 4px solid green;
  border-radius: 110px;
  padding: 40px 60px;
  text-align: center;
  margin: 80px;
  margin-top: 0;
}

nav a {
  border: 2px solid green;
  border-radius: 40px;
  padding: 20px 30px;
  background-color: lightgreen;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

section {
  background-color: rgb(235, 255, 235);
  border: 4px solid green;
  border-radius: 110px;
  padding: 50px 70px;
  text-align: center;
  margin: 80px;
}

.galeria {
  text-align: center;
  margin-top: 40px;
}

img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  margin: 15px;
  border-radius: 30px;
}


@media screen and (max-width: 700px) {
  article {
    grid-template-columns: 1fr 1fr;
  }
}
